# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

# Virtual environment
.venv
venv
env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
